/* Temel Popover stilleri */
.popoverContainer {
  display: inline-block;
}

.popover {
  position: absolute;
  background-color: var(--secondaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1.5rem -0.5rem var(--shadowColor);
  color: white;
  padding: 1rem;
  z-index: 1000;
  word-wrap: break-word;
  width: fit-content;
  max-width: 10rem;
  max-height: 10rem;
}

/* Popover pozisyonları */
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
