.dropdownContainer {
  position: relative;
  width: 100%;
  box-shadow: 0px 14px 10px -15px var(--shadowColor);
}

.datalist {
  position: absolute;
  background-color: var(--primaryColor);
  box-shadow: 0 0.5rem 1.5rem -0.5rem var(--secondaryColor);
  border-radius: 0 0 0.125rem 0.125rem;
  border-top: none;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  max-height: 10rem;
  overflow-y: auto;
  top: 3rem;
  z-index: 1;
}

.option {
  background-color: var(--primaryColor);
  color: white;
  margin-bottom: 1px;
  font-size: 1rem;
  cursor: pointer;
}

.option:hover,
.active {
  font-weight: bold;
}

.visible {
  display: unset;
}

.invisible {
  display: none;
}
