.inputContainer {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: 0px 14px 10px -15px var(--shadowColor);
}
.rounded {
  border-radius: 1.25rem;
  outline: 0.1rem solid var(--primaryColor) !important;
}

.bordered {
  border-radius: 0.4rem;
  outline: 0.1rem solid var(--primaryColor) !important;
}

.input {
  border: unset;
  background: transparent;
  transition: all 0.3s ease;
  color: inherit;
  flex: 1;
}

.input:focus {
  font-weight: bold;
  filter: brightness(120%);
  outline: none;
}

.errorMessage {
  color: var(--primaryColor);
  bottom: -1rem;
  left: 0.2rem;
  position: absolute;
  font-size: 0.5rem;
}

.sizeLabel {
  color: var(--primaryColor);
  font-size: 0.75rem;
}

.inputLabel {
  font-size: 0.75rem;
  color: var(--primaryColor);
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.input[disabled] {
  cursor: not-allowed;
}

.disabled {
  border-color: var(--disabledColor);
  color: var(--disabledColor);
}
