.editorContainer {
  border: 2px solid var(--primaryColor);
  background: linear-gradient(to right, var(--themeBackgroundColor)) !important;
  color: var(--themeTextColor) !important;
}

.themeToolbar {
  border: 1px solid transparent;
  background: linear-gradient(to right, var(--themeBackgroundColor)) !important;
  color: var(--themeTextColor) !important;
}

.blackColor {
  color: black !important;
}

[class*='rdw-'] {
  background: linear-gradient(to right, var(--themeBackgroundColor)) !important;
}
