.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: calc(var(--spacing) * 0.04rem);
}

.gridItem {
  display: flex;
  flex-basis: calc(var(--item) * 100% / 12 - 10px - var(--spacing) * 0.04rem);
  justify-content: var(--justifyContent);
  align-items: var(--alignItems);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  gap: unset !important;
  justify-content: var(--justifyContent);
  align-items: var(--alignItems);
}

.mbt {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
