.modal {
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem -0.5rem var(--shadowColor);
  color: var(--secondaryTextColor);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: var(--primaryColor);
  padding: 0.5rem;
  border-bottom: 2px solid var(--secondaryColor);
}

.modalContent {
  padding: 1rem;
  background: var(--secondaryColor);
  overflow-y: auto;
  position: relative;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
