.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primaryTextColor);
}

.checkmark {
  margin-right: 0.5rem;
  border: 2px solid var(--primaryColor);
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease;
}

.gradient {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, var(--gradientColors));
  border-image-slice: 1;
}

.checkmark:hover {
  filter: brightness(120%);
}

.checkbox {
  display: none;
}

.disabled {
  cursor: not-allowed !important;
}
