.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkmark {
  margin-right: 0.5rem;
  border: 2px solid var(--primaryColor);
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease;
}

.checkmark:hover {
  filter: brightness(120%);
}

.checkbox {
  display: none;
}

.disabled {
  cursor: not-allowed !important;
}
