.virtualListContainer {
  height: var(--containerHeight);
  overflow: auto;
  background: var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--secondaryTextColor);
}

.content {
  height: var(--contentHeight);
}

.item {
  height: var(--itemHeight);
  display: flex;
  align-items: center;
}
